<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h1>Add User</h1>
<form action="http://fast-hd-grabber.local/user/add" method="post">
    <label for="USER_EMAIL">Email:</label>
    <input type="email" id="USER_EMAIL" name="USER_EMAIL" required><br><br>

    <label for="USER_FULLNAME">Full Name:</label>
    <input type="text" id="USER_FULLNAME" name="USER_FULLNAME" required><br><br>

    <button type="submit">Submit</button>
</form>
</body>
</html>
